/* Global */

* {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 300;
}

body {
    background: ghostwhite;
    padding: 40px;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
  font-family: 'Rubik';
  font-weight: 700;
}

h2  {
    
    margin: 0px;
    margin-bottom: 30px;
}

/* Stepper */
.stepper{
  margin-bottom: 20px;
}

/* Button */
.button {
  border: 1px solid black;
  max-width: 250px;
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  transition: all .25s ease;
}

.button.primary:hover{
  background: #5BC0EB;
}

.button.warning:hover{
  background: #E55934;
}

.button.primary {
  background: #9BC53D;
}

.button.primary a {
  color: white;
}

.button.warning {
  color: white;
  background: #FA7921;
}

.button a{
  /* color: #5BC0EB; */
  font-weight: 500;
  text-decoration: none;
}


/* Links / Buttons (specifically anchor tag links right now) */
.link-button {
    color: white;
    background-color: darkgreen;
    border-radius: 2px;
    padding: 15px 30px;
    text-align: center;
    width: 80px;
    margin-bottom: 15px;
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: black;
}

.link-button-danger {
    background-color: darkred;
}

/* Users INDEX page styles */

.user-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 40px;
}

.user-card {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0px 30px;
    margin-bottom: 40px;
    background-color: white;
    width: 200px;
    min-width: 200px;
    height: 220px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.user-card img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: white;
}

.user-image {
    padding-bottom: 10px;
}

/* Users SHOW page styles */

.user-container {
  display: flex;
  max-width: 750px;
}

.user-container img {
  height: 256px;
  width: 256px;
}

@media screen and (max-width: 650px){
  .user-container {
    flex-direction: column;
  }
}

.user-info {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button-container {
  display: flex; 
  justify-content: space-between;
}

.button-container .button{
  margin: 0 30px 0 0;
}

.user-info .visit-store a{
  color: white;
  font-size: 2rem;
  text-shadow: 1px 1px 15px black;
}

/* Page header styles*/
.page-header {
    display: flex;
    justify-content: center;
}

/* nav buttons (buttons on the bottom of the page, could probably be refactored) */
.nav-buttons {
    display: flex;
    justify-content: center;
}

/*
 Global nav
*/

.global-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 70px;
}

.global-nav img {
    height: 50px;
    width: 50px;
}

/* Card styles */

.card {
    display: flex;
    flex-direction: column;
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    max-width: 900px;
}

.card-content {

}

/*
    Form styles
*/

.form-input {
    margin-bottom: 15px;
}

.form-input input {
    padding: 5px;
}
