<div class="card">

    <h2>User Info</h2>
    <div>
        <form action="/users" method="POST">
            <div class="form-input">
                <label for="username">Username</label>
                <input type="text" name="username" required/>
            </div>

            <div class="form-input">
                <label for="email">Email</label>
                <input type="text" name="email"/>
            </div>

            <div class="form-input">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" required/>
            </div>

            <div class="form-input">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" required/>
            </div>

            <div class="form-input">
                <label for="photoUrl">Photo Url</label>
                <input type="text" name="photoUrl"/>
            </div>

            <div>
                <a href="/users" class="link">
                    <div class="link-button link-button-danger">Cancel</div>
                </a>
                <input type="submit" value="Create User">
            </div>
        </form>
    </div>
</div>